main .container-box{margin-right:auto;margin-left:auto;max-width:1320px;display:flex;flex-wrap:wrap;padding-left:10px;padding-right:10px;}

main .section-box,.section-box-full{margin:8px 10px;padding:20px; flex:1 1 100%;flex-direction:column;}
main .section-box>h2{flex:none; margin-bottom: 15px;}
main .section-box>h2>br{display:none;}
main .section-box>.inner-box{flex:auto;overflow:hidden;}

.before-major{display:none;}

#similar-major, #subject{padding-top:42px;display:flex;flex-direction:column;}
#similar-major>.owl-dots,#subject>.owl-dots{position:absolute;top:0;right:0;}
#similar-major>.owl-dots>div,#subject>.owl-dots>div{display:inline-block;}
#similar-major>.owl-dots>div>button,#subject>.owl-dots>div>button{border: 1px solid rgba(0, 0, 0, 0.05);background-color:#fff;width:90px;}
#similar-major>.owl-dots>div.active>button,#subject>.owl-dots>div.active>button{color:#fff;background-color:#2C3E50;}
#similar-major .item,#subject .item{width:100%;height:330px;display:flex;flex-flow:column;align-items:stretch;justify-content:stretch;}
#similar-major .item>a{display:flex;font-size:16px;align-items:center;padding:0 10px;height:50px;flex-direction:row}
#subject .item>div{font-size:16px;align-items:center;padding:0 10px;height:95px;position:relative;flex-direction:row}
#subject .item>div>.btn-main3-full{position:absolute;line-height:26px;top:8px; right:8px;text-align:center;border-radius:6px;width:60px;height:26px;}
#subject .item>div>.section-row>div:not(:last-child){margin-bottom:5px;}
/*#subject .item>div>.section-row>div{margin-bottom:5px;}*/

.progressBar{
    display:-webkit-flex;display:flex;
    width:0;height:40px;cursor:default;
    -webkit-transition: all 1.5s ease;-moz-transition: all 1.5s ease;-o-transition: all 1.5s ease;transition: all 1.5s ease;
    text-align:left;white-space:nowrap;
    align-items:center;
    justify-content:space-between;
}
.progressBar>span:first-child{text-shadow:-1px 0 #EAF0F4, 0 1px #EAF0F4, 1px 0 #EAF0F4, 0 -1px #EAF0F4,0 0 10px #EAF0F4;}
.progressBar.progressMajor>span:first-child{color:#fff;text-shadow:-1px 0 #1F66AC, 0 1px #1F66AC, 1px 0 #1F66AC, 0 -1px #1F66AC,0 0 10px #1F66AC;}
.progressBar>span{margin-left:10px;}
.progressMajor{background-color:#1F66AC;;margin-bottom:5px;}
.progressUniv{background-color:#EAF0F4;margin-bottom:15px;}
.progressBar.no-data,.progressMajor.no-data+.progressUniv{height:0;margin-bottom:0;opacity:0}
.progress-value{width:70px;margin-right:-80px;}

#majorMap{padding:5px 15px;height:calc(100vh - 90px);display:block;overflow:hidden;}
#myDiv{height:100%;}
#myDivLegends{transition:background-color 0.3s;border-radius:6px;padding:10px;display:none;}
#myDivLegends:hover{background-color:rgba(255,255,255,0.7)}
#myDivLegends>div{transition:opacity 0.3s;}
#myDivLegends>div>div{border-radius:4px;width:25px;height:15px;margin-right:7px;}
#myDivLegends>.category{opacity:0.3;display:flex;align-items:center}
#myDivLegends>.category.checked{opacity:1}

#majorName{padding:12px 30px 12px 20px;}
#majorName>div:first-child{display:flex;align-items:center;flex-wrap:wrap;}
#majorName>div:first-child>span{font-weight:bold;font-size:24px;}
#majorName>div:first-child>.favcheck>i{color:#6798F8;font-size:20px;}
#majorName>div:first-child>.favcheck.checked{background-color:#6798F8;color:white;}
#majorName>div:first-child>.favcheck.checked>i{color:#fff}
#majorName>div:first-child>.favcheck{min-width:125px;height:30px;margin-left:auto;background-color:white;color:#6798F8;border:1px solid #6798F8;}
#majorName>div:first-child>.favcheck>span{right:20px;top:1px;font-size:16px;}
#majorName>div:last-child>div{display:inline-block;margin-top:12px;margin-right:10px;width:auto;line-height:27px;padding:0 20px;}

.table{margin-bottom:0}

.reply{border: 1px solid rgba(0, 0, 0, 0.1);box-sizing: border-box;padding:10px 15px;margin-top:5px;margin-bottom:10px; border-radius: 6px;}
.reply>input,.reply>textarea{border:none;width:100%;}
.reply>input:disabled{background-color:transparent}
#comment-comment{padding:0}

#book .owl-item{height:550px;}
#book .owl-item>.item{display:flex;flex-direction:column;height:470px;width:190px;/*overflow:hidden;*/padding:10px;border-radius:8px;align-items:center;opacity:0.3;}
#book .owl-item.active.center>.item{opacity:1}
#book .owl-item>.item>.book-cover{display:flex;flex:none;margin-bottom:8px;height:260px;width:100%;}
#book .owl-item>.item>.text12{flex:auto;width:100%;}
#book .owl-item>.item>.text12>div{margin-bottom:4px;}
#book .owl-item>.item>.text12>.text16{overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;max-height:48px;display:-webkit-box;font-weight:bold;}
#book .owl-item>.item>.btn{font-size:14px;font-weight: 300; height:30px;width:100px;line-height:28px;background-color:#a1a1a1;color:#fff;}
#book .owl-item>.item>.btn+div{display:none;background-color:#fff;box-shadow:0 4px 8px rgba(0, 0, 0, 0.25);border-radius: 8px;position:absolute;top:460px;left:45px;overflow:hidden;font-size:14px;}
#book .owl-item>.item>.btn+div>label{display:block;margin:0;width:100px;text-align:center;line-height:37px;}
#book .owl-item>.item>.btn+div>label:first-child>output{width:100%;height:100%;color:#1F66AC;border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
#book .owl-item>.item>.btn+div>label:last-child>output{width:100%;height:100%;color:#FF7D7D;}
#book .owl-item>.item>.btn+div>label:first-child>input+output:hover,#book .owl-item>.item>.btn+div>label:first-child>input:checked+output{background-color:#1F66AC;color:#fff;}
#book .owl-item>.item>.btn+div>label:last-child>input+output:hover,#book .owl-item>.item>.btn+div>label:last-child>input:checked+output{background-color:#FF7D7D;color:#fff;}
#book .owl-prev, #book .owl-next{position:absolute;top:50%;width:40px;font-size:24px;}
#book .owl-prev{left:-50px;}
#book .owl-next{right:-50px;}
#summary{margin-top:-64px;border:1px solid rgba(0, 0, 0, 0.1);border-radius: 8px;padding:16px;width:100%;}
#summary>div{font-size:14px;line-height:21px;overflow:hidden;height:84px;display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient: vertical;text-overflow:ellipsis;margin-bottom:8px;}


@media(min-width:880px){
    #myDiv+div>.fa{display:none;}
    #myDivLegends{display:block!important;}
    #book{padding-left:35px;padding-right:35px;}
    #book-inner-box{padding-top:0;padding-left:110px;padding-right:110px;}
    #book .owl-item>.item{opacity:1}
    #book .owl-item.active.center>.item{background-color:#17202E;color:#fff;}
}
@media(min-width:1132px){
    #similar-major,#subject{padding-left:130px;padding-right:130px}
}