@font-face{
  font-family: 'Nanum Gothic', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}
.hello {
  color: red;
  background: url("./main.jpg");
  display: grid;
}